body{
    box-sizing: border-box;
    margin: 1em;
}
.submit{
    display: flex;
}
.submit button{
    width: 50%;
    margin: auto;
}
.task-container li{
    margin-bottom: 0.3em;
}

.task-options a{
    margin-bottom: 0.3em;
}
.content{
    position: relative;
    height: 65px;
    overflow: hidden;
}
.content::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background:linear-gradient(transparent,#ffffff);
}
.more{
    position: relative;
    padding: 0.5em;
    background:#084298;
    margin-top: 0.5em;
    display: inline-block;
    text-decoration: none;
    letter-spacing: 0.1em;
    border-radius: 2em;
    cursor: pointer;
}
.more::before{
    content: 'Read More';
    color: #ffffff;
}
.col.active .more{
    background: #6c757d;
}
.col.active .more::before{
    content: 'Read Less';
    color: #ffffff;
}
.col.active .content{
   height: auto;
}
.col.active .content::before{
    display: none;
}
@media screen and (min-width: 853px) {
    #TodoDiv{
        width: 50%;
    }
    .form-element{
        width: 70%;
    }
}